
.popopback{
    position: fixed;
    width: 100vw;
    height: 100vw;
    background-color: lightgray;
    margin:-10px;
    margin-top: -20px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 400px;
  }
  .signuppopupclose{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }
  .signuppopupclose button{
    background-color: transparent;
    border: none;
  }
  .signupbuttonspace{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }