.header {
  width: 100%;
  margin : 0px;
}
.navBar{
  margin-top: 0px;
  background-color: lightcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; 
  width: 100%;
  height: 15 rem;
  display: grid;
  grid-template-columns: 2rem 1fr 2fr 1fr 1rem;
}
.website_name{
  display: flex;
  /* background-color: #61dafb; */
  color: black;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  font-style: italic;
  font-size: 25px;
  cursor: pointer;
}
.list{
  list-style: none;
}
.service{
  grid-column: 3/4;
}
.service ul{
   height: 5 rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.servicelist:hover{
  size-adjust: 20;
  color: lightslategray;
}
.signup_and_cart{
  grid-column: 4/5;
}
.signup_and_cart ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.input {
  width: 3cm;
  position: relative;
  display: inline-block;
  border-radius: 12px;
}
.searc_icon {
  position: absolute;
  right: 0;
}

.footer{
  background-color: lightcyan;
  color: black;
  /* position: relative; */
  width: 100%;
  height: 15rem;
}
.footer_box{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.footer_div ul{
  list-style: none;
}
.horizontal_line{
  color: black;
  height: 2rem;
}
.footer_social_media{
  list-style: none;
  height: 5 rem;
  display: flex;
  justify-content: start;

}
.copyright{
  display: grid;
  justify-content: center;
}
.body{
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;

  height: 50rem;
}
.images{
  list-style-type: none;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
}

.pet_image:hover{
  filter: blur(5px);
  overflow: hidden;

}
.pet_image2:hover{
  filter: blur(5px);
}
.images2{
  list-style-type: none;
  display: grid;
  grid-template-columns: 0fr 0fr;
}
.pet_image{
  width: 300px;
  height: 350px;
  /* position: relative; */
}
.pet_image2{
  width: 450px;
  height: 300px;
}
.body_writing{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.delivery{
  list-style: none;
  border-right: 1px solid black;
  justify-content: center;
}
.security{
  display: grid;
  list-style-type: none;
  border-right: 1px solid black;
  justify-content: center;
}
.satisfied{
  display: grid;
  list-style: none;
  justify-content: center;
}
.all_images{
  display: grid;
  justify-content: center;
  grid-template-rows: 0fr 0fr;
}
.searchbox{

}
/* .imagecontainer{
  position: inherit;
} */
.shopnow{
  position: absolute;
  top: 50%;
  left: 50% ;
} 
.imageholder{

}