.perShop{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;
}

.inputQuantity{
    width: 50px;
}

.decrementitem{
    cursor: pointer;
    margin-right: 2px;
}

.additem{
    cursor: pointer;
    margin-left: 2px;
}

.addtocart{
    cursor: pointer;
}