.customersignWhole{
    background-color: lightcyan;
    display: grid;
    justify-content: center;
}

.CustomerSignBorder{
    text-align: center;
    justify-content: center;
    display: flex;
    width: 600px;
    /* padding: 90px 0 90px 0; */
    background-color: transparent;
}

.CustomerSign{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 200%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top:  30px;
    border-radius: 10px;
    background-color: white;
}

.customernameinput{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.customermailinput{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.customerpassinput{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.customerrepassinput{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.customeragree{
    display: flex;
    justify-content: center;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.customersignwhole{
    display: grid;
    justify-content: center;
    align-items: center;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.customersigned{
    display: grid;
    justify-content: center;
    /* cursor: not-allowed; */
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 10px;
    margin: 1rem;
    /* margin-left: -5rem; */
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 0.2rem;
    transition: 0.3s;
    animation: ease-in
}

.customersigned:hover{
    color: white;
    background: black;
}

.customersigned:disabled,
.customersigned.disabled{
    border: 2px solid gray;
    background: transparent;
    color: gray;
}
.customersigned:disabled:hover,
.customersigned:disabled:focus,
.customersigned.disabled:hover,
.customersigned.disabled:focus {
    border: 2px solid gray;
    background: transparent;
    color: gray;
}

.customerlearn{
    display: grid;
    justify-content: center;
}

.customerlearn:hover{
    color: blue;
}