.loginWhole{
    /* background-color: lightcyan; */
    display: grid;
    justify-content: center;
}

.loginBorder{
    text-align: center;
    justify-content: center;
    border-color: lightcyan;
    display: flex;
    width: 500px;
    /* padding: 90px 0 90px 0; */
    background-color: transparent;
}

.login{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 200%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top:  30px;
    border-radius: 10px;
    background-color: white;
}

.loginmail{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.cloginpass{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* padding: 1%; */
    /* height: 20px; */
    text-align: center;
}

.LoggedIn{
    display: grid;
    justify-content: center;
    /* cursor: not-allowed; */
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 10px;
    margin: 1rem;
    /* margin-left: -5rem; */
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 0.2rem;
    transition: 0.3s;
    animation: ease-in
}

.LoggedIn:hover{
    color: white;
    background: black;
}

.logintosigup{
    display: flex;
    justify-content: center;
}

.movetosignup{
    padding-left: 5px;
}

.movetosignup:hover{
    color: blue;
}