  .modalContainerAccount {
    width: 80px;
    height: 60px;
    border-radius: 12px;
    background-color: white;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-left: -100px;
  }

.Account-Item:hover{
    color: lightgrey;
}