.product{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 50rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 30px;
    align-content: flex-start;
    overflow-y: auto;
  }
  
  @media (max-width: 767px) {
    .products {
      justify-content: center;
    }
  }

.wrapproductcard{
    display: inline-block;
}

.sidebar{
    margin-left: 25px;
    margin-top: 15px;
    grid-column: 1/2;
    width: 80%;
    width: 200px;
}

/* .products{
    overflow: auto;
    display: block;
     grid-column: 2/6;

} */
.products ul{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
}
.onerowproduct{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.productbody{
 
}