.ProductInfo{
    height: 300px;
    width: 400px;
    background-color: lightcyan;
    position: absolute;
    top: 30%;
    left: 40%;
    display: flex;
    /* justify-content: center; */
    padding: 25px;
    margin: 25px;
}

/* .ProductInfo:hover{
    background-color: aqua;
} */

.productpopcancel{
    width: 2px;
    height: 2px;
}