.sidebar {
    width: 100px;
    /* background-color: #f2f2f2; */
    
    float: left;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar_oneelement {
    position: relative;
  }
  
  .sidberelementname {
    /* display: flex;
    flex-direction: row; */
    width: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: all 0.3s;
  }
  .sidebarelement_container{
    display: flex;
    justify-content: space-around;
  }
  
  /* .sidberelementname:hover {
    color: #fff;
    background-color: lightcyan;
  } */
  
  .sidebararrow {
    position: absolute;
    /* top: 50%; */
    right: 10px;
    transform: translateY(-50%);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    min-width: 120px;
    z-index: 1;
  }
  
  .dropdown-menu li {
    background-color: #f2f2f2;
    color: #555;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .dropdown-menu li:hover {
    background-color: #555;
    color: #fff;
  }
  
  .show {
    display: block;
  }
  