.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 15rem));
    justify-content: center;
    align-items: center;
}

.card{
  overflow: hidden;
  box-shadow: 0 0px 15px -5px;
  width: 400px;
  transition: 0.3s;
  animation: ease-in;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 0px;
  }

.card_img img{
    overflow: hidden;
    height: 100px;
    display: grid;
    justify-content: center;
}

.card_title{
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* padding: 1rem; */
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  .heading_style{
    padding: 30px 0;
    text-align: center;
    font-family: "cursive";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 30px;
    background-color: white;
    color: black;
  
  }
  .cards{
    width: 100%;
    height: auto;
  }
  .heading{
    color: aqua;
  }
  .card{
    margin: 6%;
    /* transition: all 0.4s cubic-bezier(0.175,0.885,0,1); */
    /* background-color: white; */
    width: 21.25;
    border-radius: 13px;
    box-shadow: 0px 14px 10px -7px rgba(0,0,0,0.1);
    /* float: left; */
  }

  .card__btn{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    margin-left: -5rem;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 0.2rem;
    transition: 0.3s;
    animation: ease-in
  }

  .card__btn:hover{
    background: black;
    color: white;
  }

  .choices{
    display: grid;
    justify-content: center;
  }