.marginwhole {
    margin-top: 10px;
  }
  
  .cartproductheader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .margin-Right {
    margin-right: 20px;
  }
  
  .inputquantity {
    width: 30px;
    text-align: center;
  }
  
  .interactor {
    cursor: pointer;
  }
  
  .cartTrash {
    cursor: pointer;
    color: red;
  }
  
  .carthorizontalLine {
    margin-top: 10px;
    height: 1px;
    background-color: #dcdcdc;
  }
  
  /* Styles for the product info row */
  .cartproduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cartproduct-id {
    font-weight: bold;
  }
  
  .cartproduct-quantity {
    display: flex;
    align-items: center;
  }
  
  .cartproduct-price {
    font-weight: bold;
  }
  